<a href="https://colab.research.google.com/github/yohei0408/no.2/blob/main/python%E3%81%AE%E8%A8%80%E8%AA%9E%E4%BB%95%E6%A7%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 例外処理
num = 10 / 0

ZeroDivisionError: division by zero

In [6]:
try:
  num = 10 / 0
  print(f'除算の結果は{num}になります')
except ZeroDivisionError:
  print('0で割ることはできません')

0で割ることはできません

In [7]:
num = 10 / '2'

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [8]:
try:
  num = 10 / '2'
except ZeroDivisionError:
  print('0で割ることはできません')
except TypeError:
  print('文字列で割ることはできません')

文字列で割ることはできません

In [12]:
try:
  num = 10 / 0
  print(f'除算の結果は{num}になります')
except (ZeroDivisionError, TypeError, NameError) as e:
  print(f' Exception class: {type(e)}')
  print(f' Exception occurred: {e}')

 Exception class: <class 'ZeroDivisionError'>
 Exception occurred: division by zero

In [15]:
try:
  num = 10 / 5
except ZeroDivisionError:
  print('0で割ることはできません')
else:
  print(f'除算の結果は{num}になります')

除算の結果は2.0になります

In [16]:
f = None
try:
  f = open('python.txt',mode='w')
  f.write(data)
finally:
  if f:
    f.close()
    print('ファイルを閉じました')

ファイルを閉じました

NameError: name 'data' is not defined

In [17]:
try:
  num = 10 / 0
  print(f'除算の結果は{num}になります')
except ArithmeticError as e:
  print(f' Exception class: {type(e)}')
  print(f' Exception occured: {e}')

 Exception class: <class 'ZeroDivisionError'>
 Exception occured: division by zero

In [19]:
class MyError(Exception):
  pass

raise MyError('MyErrorが発生しました')

MyError: MyErrorが発生しました

In [22]:
class MyValidateError(Exception):
  title = None
  detail = None

  def __str__(self):
    return str(self.title)


class MyTypeError(MyValidateError):
  title = 'Type error'
  detail = '数値で入力してください'

class MyMaxError(MyValidateError):
  title = 'Max error'
  detail = 'Max値 100までの値を入力してください'

def validate_number(num):
  try:
    num = int(num)
  except ValueError:
    raise MyTypeError
  if num > 100:
    raise MyMaxError

try:
  input_number = input('検証する数字を入力してください=>')
  validate_number(input_number)
except MyValidateError as e:
  print(f'{e}の例外が発生しました')
  print(f' detail={e.detail}')

検証する数字を入力してください=>500
Max errorの例外が発生しました
 detail=Max値 100までの値を入力してください

In [23]:
# with文
with open('python.txt') as f:
  print(f.read())

In [24]:
f = None
try:
  f = open('python.txt')
  print(f.read())
finally:
  if f:
    f.close()

In [25]:
file_obj = open('python.txt')
file_dir = dir(file_obj)
'__enter__' in file_dir

True

In [26]:
'__exit__' in file_dir

True

In [30]:
class MyOpenContextManager:
  def __init__(self, file_name):
    self.file_name = file_name
  def __enter__(self):
    print('__enter__ : ファイルをopenします')
    self.file_obj = open(self.file_name, 'r')
    return self.file_obj

  def __exit__(self, type, value, traceback):
    print('__exit__ : ファイルをcloseします')
    self.file_obj.close()

with MyOpenContextManager('python.txt') as f:
  print(f.read())

__enter__ : ファイルをopenします

__exit__ : ファイルをcloseします

In [32]:
# 位置引数
def sample_func(param1, param2, param3):
  print(f'{param1}, {param2}, {param3}')

sample_func('spam', 'ham', 'egg')

spam, ham, egg

In [33]:
sample_func('spam', 'ham', 'egg', 'cola')

TypeError: sample_func() takes 3 positional arguments but 4 were given

In [34]:
sample_func('spam', 'ham')

TypeError: sample_func() missing 1 required positional argument: 'param3'

In [35]:
sample_func(param3=3, param2=2, param1=1)

1, 2, 3

In [36]:
sample_func(param3=3, param2=2, param1=1, param4=4)

TypeError: sample_func() got an unexpected keyword argument 'param4'

In [37]:
sample_func(1, param3=3, param2=2)

1, 2, 3

In [38]:
sample_func(param3=3, 1, 2)

SyntaxError: positional argument follows keyword argument (<ipython-input-38-0c241b4134ba>, line 1)

In [39]:
sample_func(1, 2, param1=3)

TypeError: sample_func() got multiple values for argument 'param1'

In [40]:
sample_func(param1=1, param2=2,3)

SyntaxError: positional argument follows keyword argument (<ipython-input-40-774383085353>, line 1)

In [41]:
sample_func(1,2,3)

1, 2, 3

In [42]:
def sample_func(param1, param2=2, param3=3):
  print(f'{param1}, {param2}, {param3}')

In [43]:
sample_func(1)

1, 2, 3

In [44]:
sample_func(1, 20)

1, 20, 3

In [45]:
sample_func(1, param3='hoge')

1, 2, hoge

In [46]:
sample_func(10,20,30)

10, 20, 30

In [48]:
sample_func(param2=2,param3=3,param1=1)

1, 2, 3

In [49]:
def func_sum(*args):
  total = 0
  for num in args:
    total += num
  return total

In [50]:
func_sum(1, 2, 3, 4, 5)

15

In [51]:
num = [1, 2, 3, 4, 5]
func_sum(*num)

15

In [52]:
num = (1, 2, 3, 4, 5)
func_sum(*num)

15

In [54]:
def sample_func(param1, param2, *args):
  print(f'{param1=}')
  print(f'{param2=}')
  print(f'{args=}')

In [55]:
sample_func(1,2,3,4,5)

param1=1
param2=2
args=(3, 4, 5)

In [56]:
def sample_func(param1, default_arg=0, *args):
  print(f'{param1=}')
  print(f'{args=}')
  print(f'{default_arg=}')

In [57]:
sample_func(1,2,3,4,5)

param1=1
args=(3, 4, 5)
default_arg=2

In [58]:
sample_func(1, default_arg=10,2, 3)

SyntaxError: positional argument follows keyword argument (<ipython-input-58-4b8d618099b6>, line 1)

In [59]:
def sample_func(name, **kwargs):
  print(f'{name=}')
  for key, value in kwargs.items():
    print(f'{key}: {value}')

In [61]:
sample_func('john', age=30, email='john.adams@example-pet-store.com')

name='john'
age: 30
email: john.adams@example-pet-store.com

In [64]:
user_dict = {'age': 30, 'email': 'john.adams@example-pet-store.com', 'name' : 'ken'}
sample_func(**user_dict)

name='ken'
age: 30
email: john.adams@example-pet-store.com

In [65]:
def sample_func(param1, *args, default_arg=0, **kwargs):
  print(f'{param1=}')
  print(f'{args=}')
  print(f'{default_arg=}')
  print(f'{kwargs=}')

In [67]:
sample_func(1,2,4,5,default_arg=10,name='ken',age=30)

param1=1
args=(2, 4, 5)
default_arg=10
kwargs={'name': 'ken', 'age': 30}

In [68]:
def sample_func(param1, *, key):
  print(f'{param1}, {key}')

In [76]:
sample_func(1, key=10)

1, 10

In [77]:
def add(x, y, /):
  return x + y

In [80]:
add(1,2)

3

In [81]:
add(x=1, y=2)

TypeError: add() got some positional-only arguments passed as keyword arguments: 'x, y'

In [84]:
num = [1, 2, 3]
sum(num)

6

In [85]:
sum(num, start=90)

96

In [86]:
def add(a, b, c=0):
  return a + b + c

In [92]:
add(1,4,8)

13

In [112]:
from datetime import datetime
def save_user(updated_at=None, **user):
  if updated_at is None:
        updated_at = datetime.now()  # 関数が呼び出された時点での日時を設定
  print(f'user: ',user)
  print('update: ', updated_at)
  save(user, updated_at)
def save(user, updated_at):
    print('User saved:', user)
    print('Saved at:', updated_at)

In [113]:
user_info = {'name': 'ken', 'age': 30, 'email': 'john@mail'}
save_user(**user_info)

user:  {'name': 'ken', 'age': 30, 'email': 'john@mail'}
update:  2024-09-05 16:33:38.502434
User saved: {'name': 'ken', 'age': 30, 'email': 'john@mail'}
Saved at: 2024-09-05 16:33:38.502434

In [114]:
user_info = {'name': 'sara', 'age': 30, 'email': 'john@mail'}
save_user(**user_info)

user:  {'name': 'sara', 'age': 30, 'email': 'john@mail'}
update:  2024-09-05 16:33:39.884917
User saved: {'name': 'sara', 'age': 30, 'email': 'john@mail'}
Saved at: 2024-09-05 16:33:39.884917